.exovid-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;

  .exovid-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 1.5s ease-in 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .exovid-mask-content {
    text-align: center;
    padding: 0 32px;
    width: 100%;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .exovid-caption {
    font-size: 24px !important;
    margin-bottom: 5px !important;
    margin-top: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &:visited {
      color: #2196f3;
    }
  }

  span {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    font-size: 12px;
    line-height: 1.35;
    text-align: center;

    a {
      text-decoration: underline;
    }
  }

  button.exovid-btn {
    border: 1px solid;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 16px;
    display: inline-block;
    overflow: hidden;
    border-radius: 0px;
    background-color: transparent;
    cursor: pointer;
    line-height: 1;

    &.exovid-load-one {
      margin-bottom: 8px;
    }
  }

  .exovid-hints {
    margin-top: 7px;
    font-size: 14px;
  }

  .exovid-info-circle {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    left: unset;
    right: 5%;
    bottom: 4px;
    opacity: 1;
    transform: translateX(0);
    background-color: transparent;
    cursor: pointer;

    span {
      position: static;
    }
  }

  .exovid-info-box {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    // background: purple;
    overflow: hidden;
    transition: transform 0.75s;
    transform: translateY(100%);

    .exovid-modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      padding: 3% 4%;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: transform 0.75s;
      transform: translateY(-100%);
      overflow: auto;

      p {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.2;
        font-size: 14px;
      }
    }

    .exovid-modal-header {
      align-self: end;

      span {
        position: static;
        border: none !important;
      }
    }

    .exovid-developed {
      align-self: end;
      line-height: 1.32;
      text-align: right;
    }

    &.exovid-infobox-show {
      transform: translateY(0);

      .exovid-modal-content {
        transform: translateY(0);
      }
    }
  }

  .exovid-info-closer {
    font-size: 20px;
  }

  .small {
    font-size: 12px !important;
    a {
      font-size: 12px !important;
    }
  }
}

@media (min-width: 576px) {
  .exovid-wrapper {
    .exovid-caption {
      font-size: 30px !important;
    }

    button.exovid-btn {
      font-size: 18px;
      padding: 12px 32px;
    }

    .exovid-info-circle {
      bottom: 12px;
    }

    .exovid-info-box {
      .exovid-modal-content {
        p {
          line-height: 1.6;
          font-size: 16px;
        }
      }
    }
  }
}
